@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - FabricFrame</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- <partial name="_CookieConsentPartial" /> -->
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Marcellus&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/cart.css" />
</head>
<body>
    @RenderBody()

    @RenderSection("Scripts", required: false)
</body>
</html>
