@page
@{
    ViewData["Title"] = "Home";
}
<section class="landing-page">
    <h1>FabricFrame</h1>
    <div class="landing-page-content">
        <div class="center-content">
            <p>Discover inspiring fashion designs from passionate creators. FabricFrame is your digital runway to explore, admire, and connect through style.</p>
            <a href="/Gallery" class="landing-page-btn">View Gallery</a>
        </div>
    </div>
</section>

